// Typography
body{
  font-family: 'Open Sans', sans-serif;
}
// Headings
h1{
  font-size: 34px;
}
// Navigation
.navbar{
  text-transform: uppercase;
}
.navbar-brand{
  font-size: 36px;
}
.nav-item{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
}

// Cards

// Footer
footer{
  font-size: 14px;
}